* {
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  #header {
    height: 120px;
    background-color: gray;
    border-radius: 15px;
  }

  #content {
    margin-top: 15px;
  }
  #content:after {
    content: "";
    display: block;
    clear: both;
  }

  #left-panel {
    width: 20%;
    float: left;
  }
  #navbar {
    background-color: #0080ff;
    height: 400px;
    border-radius: 15px;
  }
  #news {
    background-color: lightsalmon;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
  }
  #right-section {
    background-color: #fcd915fb;
    height: 615px;
    border-radius: 15px;
    border-radius: 15px;
    width: 78%;
    float: right;
  }

  #footer {
    height: 100px;
    background-color: lightseagreen;
    border-radius: 15px;
    margin-top: 15px;
  }
}

/*---------------------- 2 -----------------*/
@media (min-width: 992px) and (max-width: 1199px) {
  #header {
    height: 120px;
    background-color: gray;
    border-radius: 15px;
  }

  #content {
    margin-top: 15px;
  }
  #content:after {
    content: "";
    display: block;
    clear: both;
  }

  #left-panel {
    width: 20%;
    float: left;
  }
  #navbar {
    background-color: #0080ff;
    height: 400px;
    border-radius: 15px;
  }
  #news {
    background-color: lightsalmon;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
  }
  #right-section {
    background-color: #fcd915fb;
    height: 615px;
    border-radius: 15px;
    border-radius: 15px;
    width: 78%;
    float: right;
  }

  #footer {
    height: 100px;
    background-color: lightseagreen;
    border-radius: 15px;
    margin-top: 15px;
  }
}
/* --------------------- 3 --------------------*/

@media (min-width: 768px) and (max-width: 991px) {
  #header {
    height: 120px;
    background-color: gray;
    border-radius: 15px;
  }

  #content {
    margin-top: 15px;
    display: table;
    width: 100%;
  }

  #left-panel:after {
    content: "";
    display: block;
    clear: both;
  }

  #left-panel {
    width: 100%;
    display: table-footer-group;
  }

  #navbar {
    background-color: #0080ff;
    height: 90px;
    border-radius: 15px;
    float: right;
    width: 78%;
  }

  #news {
    background-color: lightsalmon;
    height: 90px;
    margin-top: 0;
    border-radius: 15px;
    float: left;
    width: 20%;
  }
  #right-section {
    background-color: #fcd915fb;
    height: 615px;
    border-radius: 15px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 15px;
  }

  #footer {
    height: 100px;
    background-color: lightseagreen;
    border-radius: 15px;
    margin-top: 15px;
  }
}
/* ----------------- 4 ------------------------- */

@media (max-width: 767px) {
  #header {
    height: 120px;
    background-color: gray;
    border-radius: 15px;
  }

  #content {
    margin-top: 15px;
    display: table;
    width: 100%;
  }

  #left-panel {
    width: 100%;
    display: table-footer-group;
  }

  #navbar {
    background-color: #0080ff;
    height: 90px;
    border-radius: 15px;
  }

  #news {
    background-color: lightsalmon;
    height: 90px;
    margin-top: 15px;
    border-radius: 15px;
  }
  #right-section {
    background-color: #fcd915fb;
    height: 615px;
    border-radius: 15px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 15px;
  }

  #footer {
    height: 100px;
    background-color: lightseagreen;
    border-radius: 15px;
    margin-top: 15px;
  }
}
